body {
    background-color: #FFF;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    margin-right: 3rem;
    color: #6c757d;
}

.navbar-brand {
    margin-right: 3rem;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 20px);
}

.login-section {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 50px auto;
    width: 400px;
    border-color: #696969;
}

.login-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-section img {
    margin-bottom: 20px;
}

.login-section button {
    margin-top: 20px;
}

.login-section p {
    margin-top: 20px;
}

.login-section {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-control {
    border-radius: 30px;
    border: 1px solid #CCC;
    padding: 10px;
    max-width: 400px;
    width: 100%;
}

.btn-primary {
    background-color: #6495ED;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    max-width: 200px;
    width: 100%;
}

.btn-primary:hover {
    background-color: #4169E1;
    cursor: pointer;
}

.create-account {
    color: #6495ED;
    font-weight: bold;
    text-decoration: none;
}

.create-account:hover {
    text-decoration: underline;
}
