* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #78bd91;
    background-color: #8B8A8B;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin: 0 10px; /* Espaçamento entre os cards */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #868CFF; /* Alteração da cor do título */
}

.label-text {
    color: #868CFF; /* Alteração da cor do texto */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.btn {
    background-color: #868CFF; /* Alteração da cor do botão */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    width: 100%; /* Adição para ocupar toda a largura */
    margin-bottom: 10px; /* Adição de espaçamento entre os botões */
}

.btn:hover {
    background-color: #868CFF; /* Alteração da cor do botão hover */
}
